/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import 'min/min-master';

.panel {
  border: transparent 1px solid;
  &.hover-panel {
    border: #e2e1e1 1px solid;
  }
}

table {
  &.hover-table {
    tr {
      &:hover {
        background: #f3f2f2;
      }
    }
  }
}
table.job {
  th, td {
    border: none;
    padding: 4px;
    vertical-align: top;
  }
  th {
    width: 100px;
    font-weight: normal;
    color: #aaa;
  }
}

table.recurring_jobs {
  td {
    .job_class {
      font-size: 0.8rem;
      color: gray;
    }
  }
}
